@import '../../assets/styles/global.scss';

.contact__container {
    background: $--theme-ui-color-beige;
    width: 100%;
    height: calc(100vh - 104px);
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    
    .contact__call-to-action {
        font-size: 70px;
        font-family: $--theme-ui-font-cabin;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        color: $--theme-ui-color-red;

        img {
            width: 200px;
        }
    }

    .contact__accounts {
        position: relative;
        font-family: $--theme-ui-font-cabin;
        display: flex;
        flex-direction: column;
        text-align: right;
        height:  calc(100vh - 120px);
        justify-content: flex-end;
        
        .contact__account {
            padding: 5px;
            font-size: 100px;
            font-weight: 400;
            position: relative;
            
            .btn {
                font-size: 100px;
                font-weight: 400;
                color: $--theme-ui-color-black;
                text-decoration: none;
                padding-right: 20px;
                border: none;
                background: none;
                box-shadow: none;

                &:hover {
                    color: $--theme-ui-color-red;
                }
            }
            
            &::before{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                transition: $--theme-transitiion;
                }

            &:hover {
                text-decoration: underline;
                color: $--theme-ui-color-red;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: -20%;
                    top: 50%;
                    display: block;
                    border-left: 10px solid $--theme-ui-color-red;
                    border-top: 10px solid $--theme-ui-color-red;
                    width: 50px;
                    height: 50px;
                    float: right;
                    transform: translate(50%, -50%) rotate(135deg);
                }
            }
        }

    }

    .contact__form {
        display: flex;
        
        iframe {
            width: 700px;
            height: 100%;
        }
    }
}