@import '../../assets/styles/global.scss';

.nav-bar__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: $--theme-borderline;
    height: 100px;
    background-color: transparent;
    z-index: -1;
}