@import '../../../assets/styles/global.scss';

.about-details__tech{
    border-top: $--theme-borderline;
    border-bottom: $--theme-borderline;
    font-family: $--theme-ui-font-cabin;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    
    .details-tech__wrapper{
        height: fit-content;
        padding-top: 30px;
        
        .details-tech__title {
            margin-left: 20px;
        }
        .details-tech__list {
            border-top: $--theme-borderline;
            margin-top: 10px;
        }
    }
    
    #details-tech--frontend {
        border-left: $--theme-borderline;
        border-right: $--theme-borderline;
        margin-left: 100px;

        .details-tech__list{
            background:  $--theme-ui-color-white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 50vh;
        
            .details-tech__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                
                img {
                    padding: 10px;
                    width: 60%;
                }
            }
        }
    }

    #details-tech--backend {
        border-right: $--theme-borderline;
        margin-right: 100px;
    
        .details-tech__list{
            background:  $--theme-ui-color-white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 50vh;
        
            .details-tech__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                
                img {
                    padding: 10px;
                    width: 60%;
                }
            }
        }
    }
}





