@import '../../../assets/styles/global.scss';

.about-details__tech{
    border-top: $--theme-borderline;
    font-family: $--theme-ui-font-cabin;
    font-size: 30px;
    font-weight: 500;
}

.details-tech__wrapper{
    display: flex;
}

.details-tech__list{

}

.details-tech__item{

}
