body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.app {
    max-width: 1728px;
    max-height: 100vh;
    margin: auto;
    overflow-x: hidden;
}
