$--theme-ui-color-light-beige: #DFDBD8;
$--theme-ui-color-beige: #CCBFAF;
$--theme-ui-color-white: #fff;
$--theme-ui-color-red: #863B22;
$--theme-ui-color-black: #000;
$--theme-ui-font-cabin: 'Cabin', sans-serif;
$--theme-ui-font-garamond: 'EB Garamond', serif;

$--theme-transitiion: 0.25s ease all;
$--theme-borderline: 2px solid $--theme-ui-color-black;
